# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment files
.env
*.env

# Virtual environments
venv/
.venv/

# Package files
*.egg-info/
dist/
build/

# Logs and temporary files
*.log
*.tmp
*.swp

# IDEs
.vscode/
.idea/

#rules files
*rules.yml